@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }
}
 /* * {
  border: 5px solid red;
} */
@layer components {
  .navbar-fixed {
    @apply fixed top-0 left-0 z-50 w-full bg-white/70 backdrop-blur-sm dark:bg-dark/50;
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 0.2);
    animation: navbar-slide-down 0.5s;
  }

  @keyframes navbar-slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }

  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }

  .toggle-circle {
    @apply translate-x-0 transition-all duration-300;
  }

  #dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
  }
}

.svg{
  top: -75px;
}